* {
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: blueviolet;
}

body, .quote-input {
    font-family: 'Consolas', 'monaco', monospace; 
}

.container {
    background-color: darkblue;
    padding: 1em;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2em;
    font-size: 4rem;
    color: darkslateblue;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    /* background-color: transparent; */
    border: 3px solid chocolate;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: gold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}